<% @title="Edit Album" %>
<h1>Edit Album</h1>

<p>You can edit update the album on this page by providing the album name, the picture name, and the description.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ut risus justo. Sed facilisis nulla sit amet nibh sagittis, et consectetur diam commodo. Integer gravida pellentesque turpis vitae venenatis. Vestibulum lobortis, arcu ac venenatis sagittis, augue arcu ornare tellus, at euismod magna lorem ac lacus. Duis a ligula pretium, sagittis enim condimentum, consectetur nisi. Donec vestibulum dignissim arcu sit amet venenatis. Etiam suscipit hendrerit justo, vel semper orci pretium at. Fusce sed risus rhoncus, condimentum nisi vel, malesuada nibh. Nam aliquet metus pharetra, fermentum odio ac, eleifend odio. Nulla in varius risus. Vivamus mattis purus vitae massa euismod, vestibulum consectetur sapien porta. Vivamus dictum bibendum consequat. Sed at dui eget ipsum cursus dapibus. Etiam feugiat quam viverra vehicula vulputate. Donec interdum finibus tellus a semper. Sed vitae pulvinar tortor, eu fringilla tellus.</p>

<%= render 'form', collection: @collection %>

<%= link_to 'Show', @collection %> |
<%= link_to 'Back', collections_path %>
