<% @title="New Album" %>

<h1>New Album</h1>

<p>This page allows you to create a new album. Just provide the name of a new album and a picture, and the description.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed egestas euismod orci. Donec sit amet velit blandit, ornare ligula ut, aliquet elit. Etiam eget lectus sapien. Aliquam sed orci in ante lacinia fringilla venenatis luctus quam. Etiam maximus efficitur tempus. In hac habitasse platea dictumst. Nullam sagittis augue id turpis ultrices, ut porttitor mi scelerisque. Cras volutpat vestibulum velit, hendrerit tempor justo ornare nec. Sed at accumsan turpis, quis tincidunt sapien. Sed metus velit, interdum id dolor sit amet, tincidunt elementum mi.</p>

<%= render 'form_new', collection: @collection %>

<%= link_to 'Back', collections_path %>
