<% @title="Home" %>

<h1 class="font_handwriting">Photos</h1>

<p>This page shows all the pictures contained in <i>app/assets/imagesi</i> folder. If description is provided in the <i>collection</i> database, it will appear below the picture name. Otherwise, it will read "No description."</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ullamcorper, sem non ornare consectetur, dui elit faucibus neque, sit amet rhoncus massa metus in lacus. Vestibulum vestibulum quam quis leo lobortis hendrerit. Pellentesque bibendum pharetra congue. Cras pulvinar faucibus sem, sed feugiat nunc consectetur et. Praesent in mi sed nunc efficitur congue eget vel urna. Maecenas odio tellus, venenatis sit amet tellus eu, accumsan faucibus est. Nullam pellentesque mauris sit amet volutpat tristique.</p>

<div class="container">
  <% col_count = 0 %>
  <% @all_pic_array.each do |image| %>
    <% if Collection.exists?(:picture => image) %>
      <% image_record = Collection.find_by(picture: image) %>
      <% image_desc = image_record.description %>
    <% else %>
      <% image_desc = 'No description' %>
    <% end %>

    <% if col_count % 4 == 0 %>
      <div class="row">
    <% end %>
    <div class="col-sm-3">
      <%= link_to image_tag(image, class: "img-thumbnail img-fluid", alt: image_desc), image_path(image) %>
      <p><%= image %><br><%= image_desc %></p>
    </div>
    <% if col_count % 4 == 3 %>
      </div>
    <% end %>
    <% col_count += 1 %>
  <% end %>
</div>
