<% @title="Album" %>

<h1>Album</h1>
<p>This page shows albums.</p>

<h2>Sample albums</h2>
<div class="container">
  <div class="row">
    <div class="col-sm-3">
<%= image_tag("IMG_6340.JPG", class: "img-thumbnail img-fluid", alt: "Grand Teton") %>
    </div>
    <div class="col-sm-3">
<%= image_tag("2018_08_10_9.jpg", class: "img-thumbnail img-fluid", alt: "Mt. Fuji") %>
    </div>
    <div class="col-sm-3">
<%= image_tag("IMG_5846.JPG", class: "img-thumbnail img-fluid", alt: "Southern Alps") %>
    </div>
    <div class="col-sm-3">
<%= image_tag("DSC_0183.JPG", class: "img-thumbnail img-fluid", alt: "Bryce Canyon") %>
    </div>
  </div>
</div>
