<% @title="Album" %>

<h1>Album</h1>

<div class="container">
  <% col_count = 0 %>
  <% @album_names.each do |album| %>
    <% if col_count % 4 == 0 %>
      <div class="row">
    <% end %>
    <div class="col-sm-3">
      <% albumName = album[:name] %>
      <% albumId = @albums.find_by(name: albumName) %>
      <h5><%= albumName %></h5>
      <% coverPhoto = Collection.find_by(name: albumName)[:picture] %>
      <%= link_to image_tag(coverPhoto, class: "img-thumbnail img-fluid", alt: albumName), album_photo_path(album_name: albumName)  %>
    </div>
    <% if col_count % 4 == 3 %>
      </div>
    <% end %>
    <% col_count += 1 %>
  <% end %>
</div>
