<% @title="Album" %>

<h1 class="font_handwriting">Album</h1>

<p>This page shows albums organized by the <i>collection</i> table in database. You can see pictures in the album by clicking on a picture.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dapibus vulputate sapien, sed porttitor risus vehicula vitae. Cras non imperdiet sapien. Nulla et urna sed est faucibus sollicitudin in et mauris. Nam condimentum, mauris ac placerat ullamcorper, quam metus dictum odio, in fringilla erat ex a urna. Aenean faucibus pharetra nulla, ut condimentum nulla suscipit at. Duis justo lacus, molestie eget placerat ut, pellentesque suscipit felis. Aliquam purus neque, porta ut interdum non, suscipit quis purus. Sed aliquet auctor risus vitae condimentum.</p>

<div class="container">
  <% col_count = 0 %>
  <% @album_names.each do |album| %>
    <% if col_count % 4 == 0 %>
      <div class="row">
    <% end %>
    <div class="col-sm-3">
      <% albumName = album[:name] %>
      <% albumId = @albums.find_by(name: albumName) %>
      <h2 class="font_display"><%= albumName %></h2>
      <% coverPhoto = Collection.find_by(name: albumName)[:picture] %>
      <% coverPhotoDesc = Collection.find_by(name: albumName)[:description] %>
      <%= link_to image_tag(coverPhoto, class: "img-thumbnail img-fluid", alt: coverPhotoDesc), album_photo_path(album_name: albumName)  %>
    </div>
    <% if col_count % 4 == 3 %>
      </div>
    <% end %>
    <% col_count += 1 %>
  <% end %>
</div>
