<% @title="Photo" %>

<h1 class="font_handwriting">Photos</h1>

<p>This page shows photos in the album. The description is provided below the picture name.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec pulvinar eros tincidunt nisl ultrices porta. Vivamus justo nulla, eleifend eu urna eget, blandit sodales magna. Mauris sed nisi et nulla tempor laoreet. Praesent tincidunt turpis ac libero ullamcorper sodales. Donec varius sem et euismod volutpat. Maecenas auctor ullamcorper lacus, et pretium ex interdum sed. Suspendisse euismod erat ex, id convallis tortor tempor in. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis elit nisl, dignissim ut scelerisque eu, scelerisque id augue.</p>

<div class="container">
  <% col_count = 0 %>
  <% @photos.each do |photo| %>
    <% if col_count % 4 == 0 %>
      <div class="row">
    <% end %>
    <div class="col-sm-3">
      <%= link_to image_tag(photo[:picture], class: "img-thumbnail img-fluid", alt: photo[:description]), image_path(photo[:picture]) %>
      <p><%= photo[:picture] %></p>
      <p><%= photo[:description] %></p>
    </div>
    <% if col_count % 4 == 3 %>
      </div>
    <% end %>
    <% col_count += 1 %>
  <% end %>
</div>
