<% @title="Photo" %>

<h1 class="font_handwriting">Photos</h1>

<div class="container">
  <% col_count = 0 %>
  <% @photos.each do |photo| %>
    <% if col_count % 4 == 0 %>
      <div class="row">
    <% end %>
    <div class="col-sm-3">
      <%= link_to image_tag(photo[:picture], class: "img-thumbnail img-fluid", alt: photo[:description]), image_path(photo[:picture]) %>
      <p><%= photo[:picture] %></p>
      <p><%= photo[:description] %></p>
    </div>
    <% if col_count % 4 == 3 %>
      </div>
    <% end %>
    <% col_count += 1 %>
  <% end %>
</div>
